<!doctype html>
<html lang="en">
<head>
    <title>Task #1</title>
</head>
<body>
<div id="menu">
    <ul>
        <li><a href="#/nama">Nama</a></li>
        <li><a href="#/nim">NIM</a></li>
        <li><a href="#/alamat">Alamat</a></li>
        <li>Hobi
            <ol>
                <li><a href="#/hobi/1">Hobi 1</a></li>
                <li><a href="#/hobi/2">Hobi 2</a></li>
                <li><a href="#/hobi/3">Hobi 3</a></li>
            </ol>
        </li>
        <li><a href="#/meme">Meme</a></li>
    </ul>
</div>
<div id="content"></div>
</body>
</html>
