<!doctype html>
<html lang="en">

<head>
    <title>Task #2</title>
</head>

<body>
    <div id="menu">
        <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/page-1">Page 1</a></li>
            <li><a href="#/page-2">Page 2</a></li>
            <li><a href="#/page-300">Page 300</a></li>
            <li><a href="#/randomuser">Random User</a></li>
            <li><a href="#/randomimage">Random Image</a></li>
        </ul>
    </div>
    <div id="content"></div>
</body>

</html>